<div class="booyah-box offset-4">
  <div class="row">
    <div class="col-4">

        <% if @user.profile_pic.url != nil %>
          <%= image_tag @user.profile_pic.url, class: 'img-thumbnail avatar' %>
        <% else %>
          <%= image_tag 'user.png', class: 'img-thumbnail avatar' %>
        <% end %>
      <br />
      <br />
      <% if user_signed_in? %>
        <% if current_user.id == @user.id %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#avatarModal">
            Edit Picture
          </button>
        <% end %>
      <% end %>

      <!-- The Modal -->
      <div class="modal" id="avatarModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Update Avatar Image</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <%= simple_form_for @user do |f| %>
            <div class="modal-body">
              <%= f.file_field :profile_pic %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Update Picture", class: 'btn btn-primary' %>
            </div>
            <% end %>

          </div>
        </div>
      </div>
      <br />
      <br />
    </div>

    <div class="col-7">
      <h1><%= @user.username %></h1>
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h4><%= @user.comments.count %> total comments </h4>
      <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 Star reviews </h4>
      <% if user_signed_in? %>
        <% if current_user.id == @user.id %>   
          <%= link_to 'edit account', edit_user_registration_path, class: 'nav-link float-right', :id => 'username' %>  
        <% end %>        
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<br /><br />
<h1 class="text-center">My Comments</h1>
<br /><br />
<div class="row">
  <% @user.comments.each do |comment| %>
    <div class="booyah-box col-10 offset-1">
      <h2 class="text-ce"><%= link_to comment.place.name, place_path(comment.place) %></h2>
      <blockquote>
        <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
      </blockquote>
    </div>
  <% end %>
</div>

<div class="clear"></div>
<br /><br />
<h2 class="text-center">My Places</h2>
<br /><br />
<% @user.places.each do |place| %>
    <div class="booyah-box col-10 offset-1">
  <h1><%= link_to place.name, place_path(place) %></h1>
  <i><%= place.address %></i><br /><br />
  <p><%= place.description %></p><br />
  <% if place.user.present? %>
  
   <% end %>

  <% if place.comments.present? %>
    <div class="col-12">
      <blockquote>
        <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> -
        <% end %>
        <%= place.comments.last.message %>
      </blockquote>
    </div>
  <% end %>
</div>
<% end %>